<% if @spot.errors.any? %>
  <div class="alert alert-danger">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: @spot.errors.count,
                 resource: @spot.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% @spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>