<div class="container px-5 mt-5 px-sm-0">

  <h2>スポット編集</h2>

  <p class="mt-5">
    ※のついた項目は入力必須です。<br />
    またお手数ですが「キーワード」「評価」<br />
    については再度ご入力をお願いします。
  </p>

  <div class="row mt-3 mb-5" style="margin-left: 0; margin-right: 0; padding-left: 0;">
    <%= form_with model: @spot, local: true do |f| %>
      <%= render "spots/error_messages_spot", model: f.object %>
      <%= render "spots/spot_form", spot: @spot, f: f %>
      <%= f.submit "更新する", class: "btn btn-success", style: "width: 125px;" %>
    <% end %>
  </div>

</div>