<% if current_user.present? && spot.favorited_by?(current_user) %>
  <%= link_to spot_favorites_path(spot), method: :delete, remote: true do %>
    <span class="fa fa-heart like-btn-unlike"></span>
  <% end %>
<% else %>
  <%= link_to spot_favorites_path(spot), method: :post, remote: true do %>
    <span class="fa fa-heart like-btn"></span>
  <% end %>
<% end %>
<%= spot.favorites.count %>
