<div class="container px-5 px-sm-0">

  <h1 class="mt-5 mb-4">JapanSiteInfo(JSI)とは？</h1>

  <p class="mt-3 mb-4">
    日本の名所はもちろん、まだまだ知られていない各地のスポットの魅力を<br />
    みんなで共有できるサイトです。
  </p>

  <p class="mt-3 mb-4">みなさんは普段、こんなふうに感じていませんか？</p>

  <ul>
    <li>目的地の地域でどのスポットが人気なのかを知りたい</li>
    <li>人気観光スポットの忖度なしの正直な感想を知りたい</li>
    <li>観光サイトにも載っていないような穴場スポットを知りたい</li>
    <li>観光スポットの正直な感想をみんなに伝えたい</li>
    <li>あまり有名ではないけど、地元のオススメスポットをみんなにも知って欲しい</li>
  </ul>

  <p class="mt-4 mb-5">
    ...など、当サイトはこういった日本のスポットに関する「あったらいいな」を実現します。
  </p>

  <h3 class="mb-4">当サイトでできること</h3>

  <p>会員登録なしでも、以下のことができます。</p>

  <ul>
    <li>各スポットの投稿の詳細を見る</li>
    <li>スポットを投稿した人のプロフィールを見る</li>
    <li>条件に合うスポットを検索する</li>
    <li>自分がいいなと思ったスポットに「いいね」を付ける</li>
  </ul>

  <p class="mt-4">さらに会員登録すると、以下のことができるようになります。</p>

  <ul>
    <li>スポットを投稿する</li>
    <li>投稿されたスポットにコメントする</li>
    <li>ほかのユーザーをフォローする</li>
    <li>各種ランキングを見る</li>
    <li>ユーザー、キーワード一覧から検索する</li>
  </ul>

  <p class="my-5">当サイトで、ぜひ「お気に入りのスポット」を見つけてください！</p>

</div>