/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/* いいねボタンのスタイル */
.like-btn-unlike {
  color: deeppink;
}

.like-btn {
  color: gray;
}

/* ハンバーガーメニュー */
#humberger-icon {
  right: 30px;
  top: 12px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 35px;
  height: 30px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 13px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(13.5px) rotate(-45deg);
  transform: translateY(13.5px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-13.5px) rotate(45deg);
  transform: translateY(-13.5px) rotate(45deg);
  background-color: #fff;
}

/* ヘッダーのユーザー名表示部分 */
.current-user-name:hover {
  text-decoration: none;
}

/* メインビジュアル部分 */
.main-visual {
  width: 100%;
  height: 500px;
  &-content {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-top: 130px;
    position: absolute;
    z-index: 999;
  }
  &-text {
    color: white;
    font-size: 30px;
  }
  &-subtitle {
    color: white;
    font-size: 30px;
    margin-top: 25px;
  }
  &-title {
    color: white;
    font-size: 50px;
    margin-top: 10px;
  }
}

.theTarget {
  width: 100%;
  position: relative;
  &-image1 {
    background-image: url(image1.jpg);
  }
  &-image2 {
    background-image: url(image2.jpg);
  }
  &-image3 {
    background-image: url(image3.jpg);
  }
  &-image4 {
    background-image: url(image4.jpg);
  }
  &-image5 {
    background-image: url(image5.jpg);
  }
}

/* 入力フォームの幅 */
.form-width {
  width: 250px;
}

/* 入力フォーム(年齢)の幅 */
.form-width-age {
  width: 70px;
}

/* キーワード入力の説明 */
.keyword-info {
  font-size: 14px;
}

/* スポット詳細の編集・削除ボタン、画像サイズ */
.spot-show {
  &-image {
    width: 200px;
  }
  &-button {
    width: 150px;
  }
}

/* 画像サイズ(横100px) */
.image-100 {
  width: 100px;
}

/* プロフィール画像(横150px) */
.image-150 {
  width: 200px;
}

/* 画像サイズ(横200px) */
.image-200 {
  width: 200px;
}

.spot-image {
  width: 150px;
}

/* コメントの入力フォーム */
.comment-new-container {
  width: 250px;
}

/* 検索エリアの調整 */
.search {
  &-label {
    width: 150px;
    height: 30px;
  }
  &-form {
    height: 50px;
  }
}

/* プロフィール画面のスポット一覧部分*/
.user-show-spot-index td:not(:nth-of-type(7n + 1)) {
  display: block;
}
.user-show-spot-index td:not(:nth-of-type(7n + 1),:nth-of-type(7n + 2)) {
  border: none;
}

/* 画面幅1121px以上におけるレスポンシブ対応 */
@media screen and (min-width:1121px) {
  .spot-index .responsive-label {
    display: none;
  }
}

/* 画面幅992px以上におけるレスポンシブ対応 */
@media screen and (min-width:992px) {
  .menu-trigger span {
    display: none;
  }
  .user-show-spot-index .spot-image {
    width: 200px;
  }
}

/* 画面幅1120px以下におけるレスポンシブ対応 */
@media screen and (max-width:1120px) {
  .spot-index td:not(:nth-of-type(7n + 1)) {
    display: block;
  }
  .spot-index td:not(:nth-of-type(7n + 1),:nth-of-type(7n + 2)) {
    border: none;
  }
}

/* 画面幅1000px以下におけるレスポンシブ対応 */
@media screen and (max-width:1000px) {
  .follow-index td:not(:nth-of-type(5n + 1)) {
    display: block;
  }
  .follow-index td:not(:nth-of-type(5n + 1), :nth-of-type(5n + 2)) {
    border: none;
  }
  .user-index td:not(:nth-of-type(8n + 1)) {
    display: block;
  }
  .user-index thead {
    display: none;
  }
  .user-index td:not(:nth-of-type(8n + 1),:nth-of-type(8n + 2)) {
    border: none;
  }
  .user-favorite-ranking td:not(:nth-of-type(7n + 1), :nth-of-type(7n + 2)) {
    display: block;
  }
  .user-favorite-ranking thead {
    display: none;
  }
  .user-favorite-ranking td:not(:nth-of-type(7n + 1), :nth-of-type(7n + 2), :nth-of-type(7n + 3)) {
    border: none;
  }
  .spot-favorite-ranking td:not(:nth-of-type(7n + 1),:nth-of-type(7n + 2)) {
    display: block;
  }
  .spot-favorite-ranking thead {
    display: none;
  }
  .spot-favorite-ranking td:not(:nth-of-type(7n + 1),:nth-of-type(7n + 2),:nth-of-type(7n + 3)) {
    border: none;
  }
}

/* 画面幅850px以下におけるレスポンシブ対応 */
@media screen and (max-width:850px) {
  .main-visual {
    &-text {
      font-size: 24px;
    }
    &-subtitle {
      font-size: 21px;
    }
  }
}

/* 画面幅800px以下におけるレスポンシブ対応 */
@media screen and (max-width:800px) {
  .keywords-index tr td {
    display: block;
  }
  .keywords-index thead {
    display: none;
  }
  .keywords-index td:not(:nth-of-type(4n + 1)) {
    border: none;
  }
}

/* 画面幅730px以下におけるレスポンシブ対応 */
@media screen and (max-width:730px) {
  .spot-show-window tr td {
    display: block;
  }
}

/* 画面幅680px以下におけるレスポンシブ対応 */
@media screen and (max-width:680px) {
  .main-visual {
    &-text {
      font-size: 18px;
    }
    &-subtitle {
      font-size: 16px;
    }
  }
}

/* 画面幅580px以下におけるレスポンシブ対応 */
@media screen and (max-width:580px) {
  .input-form-user-edit tr td {
    display: block;
  }
  .input-form-user-edit td {
    padding-bottom: 0;
  }
}

/* 画面幅540px以下におけるレスポンシブ対応 */
@media screen and (max-width:540px) {
  .input-form tr td {
    display: block;
  }
  .input-form td {
    padding-bottom: 0;
  }
  .comments-index tr td {
    display: block;
  }
  .comments-index td:not(:nth-of-type(3n + 1)) {
    border: none;
  }
  .user-favorite-ranking tr td {
    display: block;
  }
  .user-favorite-ranking td:not(:nth-of-type(7n + 1)) {
    border: none
  }
}

/* 画面幅500px以下におけるレスポンシブ対応 */
@media screen and (max-width:510px) {
  .search-container tr td {
    display: block;
  }
  .follow-index tr td {
    display: block;
  }
  .follow-index td:not(:nth-of-type(5n + 1)) {
    border: none;
  }
  .user-index tr td {
    display: block;
  }
  .user-index td:not(:nth-of-type(8n + 1)) {
    border: none;
  }
  .spot-favorite-ranking tr td {
    display: block;
  }
  .spot-favorite-ranking thead {
    display: none;
  }
  .spot-favorite-ranking td:not(:nth-of-type(7n + 1)) {
    border: none;
  }
}

/* 画面幅440px以下におけるレスポンシブ対応 */
@media screen and (max-width:450px) {
  .spot-index tr td {
    display: block;
  }
  .spot-index td:not(:nth-of-type(7n + 1)) {
    border: none;
  }
  .user-show-spot-index tr td {
    display: block;
  }
  .user-show-spot-index td:not(:nth-of-type(7n + 1)) {
    border: none;
  }
  .current-user-name {
    display: block;
  }
}

